.text-center{
  text-align:center;
}

.table-box{
  width: 950px;
}

.thead tr{
  background-color: #f4f7f7;
}

.p-bar td{
  text-align:center;
  padding-right:15px;
}

.p-number td{
  text-align:center;
}