/*
 * Globals
 */
body {
  font-family : Microsoft JhengHei;
  color: #114b5f;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family : Microsoft JhengHei;
  font-weight: normal;
  color: #333;
}

@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}
.menubar{
  padding-bottom:70px;
}

/**/
.panel-test{
  border-color:#18bc9c
}
.panel-test>.panel-heading{
  color:#ffffff;background-color:
  #18bc9c;border-color:#18bc9c
}
.panel-test>.panel-heading+.panel-collapse>.panel-body{
  border-top-color:#18bc9c
}
.panel-test>.panel-heading .badge{
  color:#18bc9c;background-color:#ffffff
}
.panel-test>.panel-footer+.panel-collapse>.panel-body{
  border-bottom-color:#18bc9c
}

